.top-border {
    position: relative; 
    background-image: url('../img/BordeSuperior.jpg');   
    top: 0;
    left: 0;
    background-size: cover;
    height: 180px;
    display: flex;
    align-items: center;
    width: 100%;
}

.top-border::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

.top-border p {
    color: white;
    font-size: 30px;
    margin-left: 40px;
    z-index: 1; 
}
