.top-border {
    position: relative; /* Asegurémonos de que la posición sea relativa para que el pseudo-elemento funcione correctamente */
    background-image: url('../img/BordeSuperior.jpg');   
    top: 0;
    left: 0;
    background-size: cover;
    height: 180px;
    display: flex;
    align-items: center;
    width: 100%;
}

.top-border::before {
    content: ""; /* Crea un pseudo-elemento para el fondo translúcido */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo con opacidad */
}

.top-border p {
    color: white;
    font-size: 30px;
    margin-left: 40px;
    z-index: 1; /* Asegurémonos de que el párrafo esté por encima del fondo translúcido */
}
