.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    width: 80%;
}

.form-control {

    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-filtrar {
    background-color: #548454;
    color: white;
    margin-top: 10px;
    border-color: #548454;
}

.btn-importar {
    background-color: #548454;
    color: white;
    margin-top: 10px;
    border-color: #548454;
    margin-left: auto;
}

/* Estilos para el contenedor del filtro */
.filtro-container {
    margin-top: 20px;
    /* Espacio entre el botón y el filtro */
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Estilos para el label del filtro */
.filtro-container label {
    margin-right: 10px;
    /* Espacio entre el label y el input */
}

/* Estilos para el input del filtro */
.filtro-container input {
    width: 25%;
    /* Ancho del input al 100% del contenedor */
    margin-top: 5px;
    /* Espacio entre el label y el input */
}

.form-control,
.form-select {
    
    min-width: 180px;
}
.form-control {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: calc(100% - 1.5rem);
}
.form-select {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: calc(100% - 1.5rem);
    margin-top: 5px;
}
.form-control {
    display: block;
    
}
.btn-filtrar, .btn-importar {
    margin-top: auto;
}
/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .filtro-container {
        justify-content: center;
        /* Centra los elementos en pantallas más pequeñas */
    }

    .btn-importar {
        margin-left: 10px;
        /* Quita margin-left: auto en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .filtro-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-control,
    .btn-filtrar,
    .btn-importar {
        width: 100%;
        margin-left: 0;
        min-width: unset;
        /* Resetea el min-width para pantallas pequeñas */
    }

    .btn-importar {
        margin-top: 10px;
        /* Asegura que el botón de importar tenga espacio arriba */
    }
}