.top-bar {
    background: #ffffff;
    color: #000000;
    box-shadow: 20 0 0px rgba(0, 0, 0, 0.418);
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 50px;
    border-bottom: #000000;
}

.user-info {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.user-name {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-image: url('../img/user.png');
    background-size: cover;
    position: relative;
}

.notifications {
    margin-right: 20px;
}

.avatar-options {
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
    width: max-content;
    white-space: nowrap;
}

.notifications {
    position: relative;
    cursor: pointer;
}

.notification-count {
    position: absolute;
    top: -5px;
    right: -13px;
    background-color: red;
    color: white;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
}

.close-button {
    background-color: #cc0000; /* Fondo rojo */
    color: #ffffff; /* Texto blanco */
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    width: 40px; /* Ajusta según el espacio disponible */
    height: 100%; /* Ocupa toda la altura del contenedor */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease; /* Suave transición de color */
    position: absolute; /* Posicionamiento absoluto para ajustar en la notificación */
    right: 0; /* Alínea a la derecha */
    top: 0; /* Inicia desde la parte superior */
    bottom: 0; /* Ocupa todo el espacio vertical */
}

.close-button:hover {
    background-color: #970202; /* Fondo rojo más oscuro al hacer hover */
}

.notification-item {
    position: relative; /* Contenedor relativo para que el botón se posicione correctamente */
    padding-right: 50px; /* Espacio para el botón de cerrar */
}



.notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification-small-text {
    font-size: 12px; /* Tamaño de fuente más pequeño */
    color: #666; /* Color más sutil */
}


.notification-list {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    z-index: 9999; /* Asegura que esté por encima de todo */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 320px;
}


.notification-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.notification-list ul li {
    margin-bottom: 10px; /* Más espacio entre notificaciones */
    padding-bottom: 10px;
    border-bottom: 1px solid #eee; /* Línea sutil entre notificaciones */
    font-size: 14px; /* Tamaño de fuente más pequeño */
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
    .top-bar {
        justify-content: flex-end;
        flex-direction: row;
    }

    .user-info {
        margin-left: auto;
        margin-right: 10px;
    }

    .user-avatar {
        margin-left: 10px;
        margin-right: 0;
    }

    .notifications {
        margin-left: 0;
        margin-right: 0;
    }

    .avatar-options {
        position: absolute;
    }

    .notification-list {
        margin-top: 10px;
    }
}